.wme-ui-modal {
  width: 320px;
  background: #fff;
  margin: 15px;
  border-radius: 5px;
}

.wme-ui-modal-container {
  position: relative;
}

.wme-ui-modal-header {
  position: relative;
}

.wme-ui-modal-header h5 {
  padding: 16px 16px 0;
}

.wme-ui-modal-close {
  background: #fff;
  border: 1px solid #ececec;
  border-radius: 100%;
  cursor: pointer;
  font-size: 20px;
  height: 20px;
  line-height: 16px;
  position: absolute;
  right: 14px;
  text-indent: -2px;
  top: 14px;
  transition: all 150ms;
  width: 20px;
  z-index: 99;
}

.wme-ui-modal-content {
  max-height: 70vh;
  overflow: auto;
}

.wme-ui-modal-footer {
  padding: 4px 0;
}
